<div class="pg-grid-box">
  <div class="grid-spacer-1"></div>
  <div class="grid-spacer-2"></div>
  <!-- Account/Profile/Logout Boxes -->
  <div class="nav-box">
    <div class="acct-btn"></div>
    <div class="profile-btn"></div>
    <div class="logout-btn"></div>
    <!-- "Username"/UN Field/Submit Boxes -->
    <!-- <div class="username-txt"></div>
    <div class="un-input-field"></div>
    <div class="un-submit-box"></div> -->
  </div>
  <!-- Post Submit -->
  <div class="post-submit-box">
    <div class="post-body-input">
      <!-- Input Form Goes Here -->
    </div>
    <div class="post-submit-btn">
      <!-- Submit Button Goes Here -->
    </div>
  </div>
  <!-- Profile Info -->
  <div class="profile-nfo-box">
    <div class="profile-img">
      <img src="" alt="user_id image goes here">
    </div>
    <div class="profile-nfo">
      <div class="un-div">
        <!-- <%= user.username %> -->
      </div>
      <div class="user-data">
        <!-- Render Stuff Here -->
      </div>
    </div>
  </div>
  <!-- User Posts -->
  <div class="user-post">
    <!-- Add image div -->
    <!-- Add username div -->
    <!-- Add Body Div -->
  </div>





  <!-- Account Page Info Div's FOR MIKE -->
  <div class="acct edit-title">
    <!-- Account Page Title Text Goes Here -->
  </div>
  <div class="acct nfo">
    <!-- Username -->
  </div>
  <div class="acct nfo">
    <!-- First Name -->
  </div>
  <div class="acct nfo">
    <!-- Last Name -->
  </div>
  <div class="acct nfo">
    <!-- Location -->
  </div>
  <div class="acct nfo">
    <!-- E-Mail -->
  </div>
  <div class="acct save-del">
    <div class="save">
      <!-- Save Button Goes Here -->
    </div>
    <div class="del">
      <!-- Delete Button Goes Here -->
    </div>
  </div>






















</div>
