<h1>Hello world</h1>

<!-- Post Form -->
<% if current_user %>
<div>
  <form class="" action="/" method="post">
    <input type="hidden" name="username">
    <textarea name="body" rows="8" cols="80"></textarea>
    <input type="submit" value="Post">
  </form>
</div>
<% end %>

<!-- Begin Post Loop -->
<div class="post">
  <% @posts.reverse_each do |post| %>
    <span><a href="#"><%= post.user.username %></a></span>
    <article class="post-body">
    <%= post.body %>
    </article>
    <span>Delete</span>
    <hr />
  <% end %>
</div>
