<!-- Post Form -->
<% if current_user %>
<div class="new_post">
  <form class="" action="/" method="post">
    <input type="hidden" name="username">
    <textarea name="body" rows="8" cols="80" placeholder="What's up with you today?" maxlength="150"></textarea>
    <input type="submit" value="Post">
  </form>
</div>
<% end %>

<!-- Begin Post Loop -->
<div class="post">
  <% @posts.reverse_each do |post| %>
    <article class="post-body">
      <a href="/profile/<%= post.user_id %>"><img class="user_thumb" src="http://via.placeholder.com/100x100" /></a>
      <div class="post_text">
        <span class="username"><a href="/profile/<%= post.user_id %>"><%= post.user.username %></a></span>
        <%= post.body %>
      </div>
    </article>
    <!-- <span>Delete</span> -->
    <hr />
  <% end %>
</div>
