<h1>Hello world</h1>

<!-- Post Form -->
<div>
  <form class="" action="/" method="post">
    <textarea name="body" rows="8" cols="80"></textarea>
    <input type="submit" value="Post">
  </form>
</div>

<!-- Begin Post Loop -->
<div class="post">
  <% @posts.reverse_each do |post| %>
    <span><a href="#"> </a></span>
    <article class="post-body">
    <%= post.body %>
    </article>
    <span>Delete</span>
    <hr />
  <% end %>
</div>

<!-- See secret messages project for reference -->
