<h1>Hello world</h1>

<!-- Post Form -->
<div>
  <form class="" action="/" method="post">
    <textarea name="body" rows="8" cols="80"></textarea>
    <input type="submit" value="Post">
  </form>
</div>

<!-- Begin Post Loop -->

<div class="post">
<span><a href="#">username</a></span>
<article class="post-body">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde praesentium sed ipsam iste, doloribus aliquid ut, animi blanditiis sint necessitatibus illum distinctio possimus excepturi culpa assumenda atque earum tempore tempora.
</article>
<span>Delete</span>
<hr />
</div>

<!-- See secret messages project for reference -->
