<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Micro-Blogging</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
  <div class="pg-grid-box">
    <div class="logo">
      <a href="/"><img src="http://via.placeholder.com/150x50" /></a>
    </div>
    <div class="grid-spacer-1"></div>
    <nav>
      <% if current_user.nil? %>
      <!-- If logged out -->
      Sign Up or Log In:
      <form action="/login" method="post">
        <label for="username"></label>
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="submit" value="Submit">
      </form>
      <% elsif current_user %>
      <!-- If logged in -->
      Welcome, <%= @user.username %>!
      <a href="/profile/<%=current_user.id if current_user%>"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a>
      <a href="/account"><i class="fa fa-list" aria-hidden="true"></i>My Account</a>
      <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
      <% end %>
    </nav>
        <%= yield %>
      <div class="grid-spacer-2"></div>
      <footer>
        <small>Designed and Developed by Team Clitter</small>
      </footer>
      <script src="https://use.fontawesome.com/6b7272baf0.js"></script>
      <script src="/js/index.js"></script>
  </div><!-- End container -->
  </body>
</html>
