<h1>Profile Page</h1>

<!-- Post Form -->
<div>
  <form class="" action="" method="post">
    <textarea name="body" rows="8" cols="80"></textarea>
    <input type="submit" value="Post">
  </form>
</div>
