@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /*border: solid #ccc 1px;*/
}

body {
  display: grid;
}

#account-background {
  width: 100%;
  height: 100%;
  background-color: #a4c263;
}

#account-form {
    margin: 0 auto;
    width: 600px;
    height: 950px;
    background-color: #2d313a;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}

#account-text {
  color: white;
  font-size: 65px;
}

.nfo input[type=text] {
    font-size: 50px;
    width: 100%;
    height: 100px;
    padding: 5px 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    box-sizing: border-box;
}

.nfo input[type=email] {
    font-size: 50px;
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    color: #f7f7f9;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    box-sizing: border-box;
}


/* Fatima's Styles */
.fa {
  margin-right: 7px;
  color:#249e9e;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  background: #a4c263;
  width: 100vw;
  text-align: center;
  color: #7e964b;
}

.logo {
  min-height: 25px;
  background-color: #262934;
  text-align: center;
  grid-column: 1 / 4;
}
.logo img {
 margin:10px;
}

nav {
  background-color: #2d313a;
  text-align: center;
  color: #fff;
  padding:10px;
}

nav a, nav input[type=submit] {
  display: inline-block;
  padding: 11px;
  background-color: #2cbebf;
  border-radius: 24px;
  margin-left: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: none;
}

nav a:hover, nav input[type=submit]:hover {
  background-color: #35cdce;
}

nav form {
  display: inline;
}

nav input[type=text] {
  height: 40px;
  border-radius: 0px;
  background-color: #484d58;
  border: none;
  margin-left: 10px;
  color:#fff;
  font-size: 14px;
 }
 nav input[type=text]::placeholder {
   color: #7d8492;
   font-size: 14px;
   font-style: italic;
 }

.new_post {
  padding: 10px;
}

.new_post textarea {
  width: 100%;
  border: #dfdfdf solid 1px;
  background-color: #f7f7f9;
  border-radius: 7px;
}

.new_post textarea::placeholder {
  font-size: 22px;
  color: #dfdfdf;
  padding: 5px;
  font-style: italic;
}

.new_post form input[type=submit] {
  padding: 11px;
  background-color: #2cbebf;
  border-radius: 24px;
  margin-left: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  float: right;
  border: none;
}

hr {
  border: #dfdfdf .7px solid;
  margin: 10px;
}

.post {
  margin: 10px;
}

.user_thumb {
  border-radius: 100%;
  height: 70px;
  border: .7px solid #dfdfdf;
}

.user_thumb:hover {
  border: 3px solid #2cbebf;
}

.username {
  display: block;
  font-size: 18px;
}

.username a {
  color: #a8a9ad;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.username a:hover {
  color: #2cbebf;
}

.post_text {
  display: inline-block;
  color: #2d313a;
}

 /* Fatima's Styles End */

.save-del input[type=submit], .save-del input[type=submit] {
    display: inline-block;
    padding: 5px;
    height: 50px;
    width: 210px;
    background-color: #2cbebf;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    float: left;
    margin: 30px;

    }

    #account-form input[type=submit]:hover, #delete-account input[type=submit]:hover {
      background-color: #eb5966;

        }

/*Dallas Styling*/
.pg-grid-box {
  display: inline-grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  grid-template-rows: repeat(auto-fit, 125px);
}

.grid-spacer-1 {
  grid-column: 1 / 2;
  grid-row: 2 / 13;
}

.grid-spacer-2 {
  grid-column: 3 / 4;
  grid-row: 2 / 13;
}

.nav-box {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.post-submit-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.post-submit-btn {
  grid-row: 3 / 4;
  grid-column: 6 / 8;
}

.user-post {
  display: grid;
  grid-template-columns: 3fr 4fr;
}

.profile-nfo-box {
  display: grid;
  grid-template-columns: 3fr 4fr;
}

.profile-nfo {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.un-div {
  grid-row: 1 / 2;
}

.acct {}

.save-del {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
