@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /*border: solid #ccc 1px;*/
}

#account-form {
    margin: 25px;
    background-color: gray;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}

input[type=text], [type=email] select {
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Fatima's Styles */
.logo {
  min-height: 25px;
  background-color: #262934;
  text-align: center;
}
.logo img {
 margin:10px;
}

nav {
  background-color: #2d313a;
  text-align: center;
  color: #fff;
  padding:10px;
}

nav a {
  display: inline-block;
  padding: 11px;
  background-color: #2cbebf;
  border-radius: 24px;
  margin-left: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}

nav form {
  display: inline;
}

nav input[type=text] {

 }

.new_post {
  padding: 10px;
}

.new_post textarea {
  width: 100%;
  border: #dfdfdf solid 1px;
  background-color: #f7f7f9;
  border-radius: 7px;
}

.new_post form input[type=submit] {
  padding: 11px;
  background-color: #2cbebf;
  border-radius: 24px;
  margin-left: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  float: right;
  border: none;
}

hr {
  border: #dfdfdf .7px solid;
  margin: 10px;
}

.post {
  margin: 10px;
}

.user_thumb {
  border-radius: 100%;
}

.username {
  display: block;
}

.username a {
  color:#2d313a;
  text-decoration: none;
}

.post_text {
  display: inline-block;
}

 /* Fatima's Styles */
