* {
  box-sizing: border-box;
}

#account-background {
  width: 100%;
  height: 100%;
  background-color: #a4c263;
}

#account-form {
    margin: 0 auto;
    width: 600px;
    height: 950px;
    background-color: #2d313a;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}

#account-text {
  color: white;
  font-size: 65px;
}

#account-form input[type=text] {
    font-size: 50px;
    width: 100%;
    height: 100px;
    padding: 5px 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    box-sizing: border-box;
}

#account-form input[type=email] {
    font-size: 50px;
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    color: #f7f7f9;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    box-sizing: border-box;
}

#account-form input[type=submit], #delete-account input[type=submit] {
    display: inline-block;
    padding: 5px;
    height: 50px;
    width: 210px;
    background-color: #2cbebf;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    float: left;
    margin: 30px;

    }

    #account-form input[type=submit]:hover, #delete-account input[type=submit]:hover {
      background-color: #eb5966;

        }
